.wrapper {
    width: 1164px;
    margin-top: 60px;
  }
  .header {
    font-size: 60px;
    line-height: 72px;
    font-family: var(--outfit);
    font-weight: var(--font-weight-bold);
    color: var(--color-white);
  }
  .para {
    font-size: var(--font-size-md);
    font-family: var(--sans);
    font-weight: var(--font-weight-regular);
    color: var(--color-light-grey);
    line-height: var(--line-height-xl);
    margin-top: 1.5rem;
  }
  
  .form_bottom_section {
    column-gap: 2rem;
    position: relative;
  }
  
  .flex_bottom_section_gap {
    width: 100%;
    row-gap: 1.5rem;
  }
  .form_right_bottom_section {
    border: 1px solid rgba(255, 255, 255, 0.16);
    width: 570px;
    height: 560px;
    padding: 0 1rem;
    padding-top: 2rem;
    column-gap: 0.5rem;
  }
  .formsection_top{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .formsection_bottom{
    width: 100%;
    height: 90%;
  }
  .formsection_top img{
    width: 100%;
    height: 50px;
    object-fit: contain;
  }
  .formsection_bottom img{
    width: 100%;
    height: 100%;
    margin-left: -2px;
    object-fit: contain;
  }
 
  .form_right_bottom_section_userIconDiv img{
    margin-top: 16rem;
    width: 52px;
    height: 45px;
    object-fit: contain;
    margin-left:0px;
   
  }
  .form_hi_image {
    margin-top: -4px;
    width: 100%;
    height: 10%;
  }
  .form_hi_image img{
    width: 60px;
    height: 50px;
    object-fit: contain;
  }
  
  .message_container {
    row-gap: 0.5rem;
    margin-left: -8px;
  }
  .message_container .message {
    background-color: rgba(30, 41, 59, 1);
    width: 60%;
    border-radius: var(--br-7xs);
    font-family: var(--sans);
    font-size: var(--font-size-xs);
    padding: 8px, 16px, 8px, 16px;
    box-sizing: content-box;
    min-height: 40px;
    line-height: var(--line-height-medium);
  }
  .message_container .image {
    width: 100%;
    background-color: rgba(30, 41, 59, 1);
    border-radius: var(--br-7xs);
  }
  .message_container .img {
    width: 95%;
    height: 90%;
    border-radius: 6px;
  }
   /* .form_hi_image{
    width: 100%;
    background-color: blueviolet;
  } */
  .message-highlight {
    font-weight: var(--font-weight-bold);
  }
  
  .form_section_instruction {
    position: absolute;
    top: -2rem;
    right: 1rem;
  }
  .form_section_instruction_img {
    position: absolute;
    right: -3rem;
    top: -1.5rem;
  }
  
  .float_text {
    font-family: var(--indie);
    font-weight: var(--font-weight-regular);
    font-size: 24px;
    color: rgba(255, 255, 255, 0.92);
  }